.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 2.5em;

	.post-thumbnail {
		display: block;
		text-align: center;
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer {
	.cat-links,
	.comments-link,
	.edit-link {
		display: inline-block;
		margin-right: 10px;
	}
}