.main-container {
    width: 100%;
    margin: auto;
    @include lg {
        width: 960px;
    }
}

.site-footer {
    border-top: 1px solid $color_border;
    margin-top: 1.5rem;
    padding: 0.5rem 0;

    .bottom-copyright {
        color: $color__text-gray;
    }
}
@import "no-sidebar";